* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Times New Roman,"Times New Roman",HiraMinProN-W3, '游明朝','Yu Mincho',YuMincho;
    background-color: #3d3d3d
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(top.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}
.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  width: 100%;
  background-color: rgb(88, 13, 13);
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}
h1 {
    margin: 0; padding: 0;
    font-size: 20px;
 }
 a {	
    text-decoration: none;
    color: #ffffff;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }
 nav {
    margin: 0 0 0 auto;
 }
 .main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('head_fig.jpg') center no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: 43%;
 }
h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
}

#copyright {
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
}